<% form_tag login_url, :method => :post do %>
  <p>
    <b>Login</b><br />
    <%= text_field_tag :login, params[:login] %>
  </p>
  <p>
    <b>Password</b><br />
    <%= password_field_tag :password, "" %>
  </p>
  <p>
    <%= submit_tag "Enter" %>
  </p>
<% end %>
