<h1>Login</h1>

<% form_tag sessions_url, :method => :post do %>
  <%= content_tag(:p, flash[:notice], :style => "color:red") if flash[:notice] %>
  <p>
    <b>Login</b><br />
    <%= text_field_tag :login, params[:login] %>
  </p>
  <p>
    <b>Password</b><br />
    <%= password_field_tag :password, "" %>
  </p>
  <p>
    <%= submit_tag "Enter" %>
  </p>
<% end %>
