body {
  margin: 0;
  padding: 0;
}
h1 {
  background-color: black;
  color: white;
  padding: 10px 10px 15px;
  margin: 0;
}
ul#menu {
  padding: 5px 0 8px 10px;
  margin: 0;
  list-style: none;
  border-bottom: 1px solid black;
}
ul#menu li {
  display: inline;
  padding-right: 15px;
}
ul#menu li:before {
  content: "» "
}
#contents {
  margin: 20px;
}
#contents h1 {
  margin: 0 0 20px;
  padding: 0;
  background-color: transparent;
  color: black;
}
th, td {
  padding: 5px;
  text-align: left;
  background-color: #f0f0f0;
  font-size: 80%;
}
th {
  background-color: #ddd;
  color: grey;
}
