body {
  margin: 0;
  padding: 0;
}

img {
  border: 0;
}

h1 {
  background-color: black;
  color: white;
  padding: 10px 10px 15px;
  margin: 0;
}

ul#menu {
  padding: 5px 0 8px 10px;
  margin: 0;
  list-style: none;
  border-bottom: 1px solid black;
}

ul#menu li {
  display: inline;
  padding-right: 15px;
}

ul#menu li:before {
  content: "» "
}

#contents {
  margin: 20px;
}

#contents h1 {
  margin: 0 0 20px;
  padding: 0;
  background-color: transparent;
  color: black;
}

th, td {
  padding: 5px;
  text-align: left;
  background-color: #f0f0f0;
  font-size: 80%;
}

th {
  background-color: #ddd;
  color: #808080;
}

div.group {
  border: 1px solid #000;
  margin-bottom: 10px;
}

div.group h2 {
  padding: 5px;
  margin: 0px;
  border-bottom: 1px solid #000;
  background-color: #333;
  color: #fff;
  font-size: 110%;
}

div.group ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

div.group ul li {
  margin: 8px 15px;
}

.flash_notice, .flash_error {
  border: 1px solid #84BE5A;
  padding: 4px;
  margin: 0 0 8px;
  cursor: pointer;
}

.flash_notice {
  background: #E4F2DA;
}

.flash_error {
  border-color: #CC0000;
  background: #F4CFD6;
}