body {
  background:#ddd;
  margin: 0;
  padding: 0;
}

img {
  border: 0;
}

#contents {
  margin: 50px auto;
  background:#fff;
  width:280px;
  padding:20px;
  border:8px solid #ccc;
}

#contents h1 {
  margin: 0 0 20px;
  padding: 0;
  color: #000;
}

.flash_notice, .flash_error {
  border: 1px solid #84BE5A;
  padding: 4px;
  margin: 0 0 8px;
  cursor: pointer;
}

.flash_notice {
  background: #E4F2DA;
}

.flash_error {
  border-color: #CC0000;
  background: #F4CFD6;
}