<h1>My Tasks</h1>
<% @incomplete_tasks.group_by(&:project).each do |project, tasks| %>
  <% div_for project, :class => "group" do %>
    <h2><%= project.name %></h2>
    <ul>
      <% tasks.each do |task| %> 
        <%= render :partial => "task", :locals => {:task => task} %> 
      <% end %> 
    </ul>
  <% end %>
<% end %>
<div class="group">
  <h2>Completed Tasks</h2>
  <ul id="completed_tasks"> 
    <% @completed_tasks.each do |task| %> 
      <%= render :partial => "task", :locals => {:task => task} %> 
    <% end %> 
  </ul>
</div>
